.footer-links{
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
  font-size: 12px;
  gap: 7px;
  position: relative;
  z-index: 2;
  margin-top: 15px;
}